body {
  div {
    main {
      div {
        .true {
          color: red;
          text-decoration-line: line-through;
        }
        .flase {
          color: blue;
        }
      }
    }
  }
}
