body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    main {
      padding: 20px;
      background-color: bisque;
      div {
        .true {
          color: red;
          text-decoration-line: line-through;
        }
        .flase {
          color: blue;
        }
      }
    }
  }
}
